@use './fonts' as fonts;
@use './functions' as functions;
@use './colors' as colors;

@mixin font-load($ff, $fw, $fs, $fd, $src...) {
    font-weight: $fw;
    font-family: $ff;
    font-style: $fs;
    src: $src;
    font-display: $fd;
}

@mixin font($name, $weight, $size, $color, $height, $style) {
    color: $color;
    font-weight: $weight;
    font-size: functions.pxToRem($size);
    font-family: $name;
    font-style: $style;

    @if $height != 1 {
        line-height: calc($height / $size);
    }
}

@mixin firaSansFont($weight, $size, $color: null, $height: 1, $style: normal) {
    @include font(fonts.$firaSansFont, $weight, $size, $color, $height, $style);
}

@mixin ebGaramondFont($weight, $size, $color: null, $height: 1, $style: normal) {
    @include font(fonts.$ebGaramondFont, $weight, $size, $color, $height, $style);
}

@mixin fillFullColor($color: null) {
    background: $color;
    box-shadow: 0 0 0 100vmax $color;
    clip-path: inset(0 -100vmax);
}
